<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        metadata-complete="false"
        version="3.0">
    <!--listeners-->
    <listener>
        <listener-class>
            listeners.Config
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>domino</servlet-name>
        <servlet-class>controllers.DominoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>domino</servlet-name>
        <url-pattern>start-game</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>showAll</servlet-name>
        <servlet-class>controllers.ShowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showAll</servlet-name>
        <url-pattern>get-domino</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>showMarket</servlet-name>
        <servlet-class>controllers.ShowChainsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showMarket</servlet-name>
        <url-pattern>get-market</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>saveChain</servlet-name>
        <servlet-class>controllers.SaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveChain</servlet-name>
        <url-pattern>save-chains</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteChain</servlet-name>
        <servlet-class>controllers.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteChain</servlet-name>
        <url-pattern>delete-chains</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/domino</url-pattern>
    </servlet-mapping>
</web-app>
